.navbar-brand {
    background-color: lightseagreen;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

.navbar li a {
    text-decoration: none;    
    margin-left: 10px;
    font-size: small;
    font-family: 'Times New Roman', serif;
}

.carousel {
    width: 350px;
    height: 265px;
    float: left;
    margin-right: 10px;
}

.carousel-control-prev-icon {
    margin-right: 20px;
    background-image: url("Resources/equatorsign-removebg-preview\ \(1\).png");
}

.carousel-control-next-icon {
    background-image: url("Resources/equatorsign-removebg-preview\ \(1\).png");
    margin-left: 20px;
}

.left-image{
    width: auto;
    height: auto;
    float: left;
    margin-right: 10px;
}

.right-image:hover{
    outline: 2px solid lightseagreen; 
}
.right-image {
    width: 150px;
    height: 120px;
    margin-top: 20px;
    margin-left: 10px;
}

.center-image {
    width: 550px;
    height: 450px;
    margin-left: 20px;
    margin-bottom: 20px
}

.comp-image:hover{
    outline: 2px solid lightseagreen; 
}

.comp-image {
    width: 550px;
    height: 350px;
}

h3 {
    margin-top: 30px;
    color:lightseagreen;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
}

h4 {
    margin-top: 30px;
    color:lightseagreen;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
}

.box {
    margin-top: 30px;
    padding-top: 1px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background: white;
  }
  .table {
    margin-top: 30px;
    border-collapse:collapse;
    margin-left: auto;
    font-size: small;
  }

  p {
      margin-bottom: 10px;
      font-family: 'Times New Roman', serif;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr {
    font-size: x-small;
  }




  @media (max-width: 600px) {

    .navbar li {
    }
  
    .navbar li a {
    }
  
    .post {
    }
  
  }